SC1.tif
SC1_WB.tif
SC1_dry.tif
SC1_macro.tif
SC1_rocks.tif
SC1_sedmnt0.tif
SC1_shells.tif
SC1_wet.tif
WetVSDry.tif
SC1_WB_valtot.tif
SC1_bsed_valtot.tif
SC1_macro_valtot.tif
SC1_rocks_valtot.tif
SC1_sedmnt0_wet_valtot.tif
SC1_uca_valtot.tif
desktop.ini
SC1_sedmnt0_valtot.tif
