macro_mask.tif
rocks_mask.tif
macro_mask_valtot.tif
rocks_mask_valtot.tif
shells_mask_valtot.tif
baresed_mask_selvar.tif
seds_mask_selvar.tif
baresed_mask_validation.tif
baresed_mask_validation_bub.tif
bseds_mask_rf.tif
macro_mask_rf.tif
mask_macro_t_selvar.tif
mask_macro_validation.tif
mask_macro_validation_bub.tif
mask_rocks_SC1_0_val_tif.tif
mask_rocks_t_selvar.tif
mask_rocks_validation.tif
mask_rocks_validation_bub.tif
mask_shells_t_selvar.tif
mask_shells_validation.tif
mask_shells_validation_bub.tif
rock_mask_rf.tif
seds_mask_rf.tif
seds_mask_validation.tif
seds_mask_validation_bub.tif
shell_mask_rf.tif
uca_mask_rf.tif
uca_mask_selvar.tif
uca_mask_validation.tif
uca_mask_validation_bub.tif
